body {
    background: #F4F4F4;
    font-family: Arial, sans-serif; /* Estilo de fonte (Se o computador não tiver a primeira, ele usa a outra) */
}

main {
    width: 100%; /* Vai ocupar 100% da largura do elemento pai */
}